{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'recommender/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'recommender/fonts.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />

<div id="menu">
	<ul>
	    <li class="hvr-grow">{% block nav-profile %}<a href="{% url 'recommender:profile' %}">Profile</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-rec %}<a href="{% url 'recommender:recommendations' user.userprofile.major_1 %}">Recommendations</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-subject %}<a href="{% url 'recommender:class_info_initial' %}">Search Classes</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-major %}<a href="{% url 'recommender:major' %}">Stats By Major</a>{% endblock %}</li>

	    {% if user.is_anonymous %}
			<li>...</li>
		{% else %}
			<li class="pull-right"><a>Welcome, {{user}}</a></li>
		{% endif %}
	</ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<div class="block">
{% block content %}
{% endblock %}
</div>

<!-- <footer>
<p>&copy; Lambert Chu</p>
</footer> -->
