{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'recommender/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'recommender/fonts.css' %}" />


<div id="menu">
	<ul>
	    <li class="hvr-grow">{% block nav-home %}<a href="{% url 'recommender:index' %}">Home</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-profile %}<a href="{% url 'recommender:profile' %}">Profile</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-rec %}<a href="{% url 'recommender:recommendations' user.userprofile.major1 %}">Recommendations</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-subject %}<a href="{% url 'recommender:class_info_initial' %}">Search for Class</a>{% endblock %}</li>
	    <li class="hvr-grow">{% block nav-major %}<a href="{% url 'recommender:major' %}">Stats By Major</a>{% endblock %}</li>

	    {% if user.is_anonymous %}
			<li class="hvr-grow pull-right"><a href="{% url 'recommender:login' %}">Login</a></li>
		{% else %}
			<li class="hvr-grow pull-right"><a href="{% url 'recommender:logout' %}">Logout ({{user}})</a></li>
		{% endif %}
	</ul>
</div>



<div class="block">
{% block content %}
{% endblock %}
</div>


<!-- <footer>
<p>&copy; Lambert Chu</p>
</footer> -->