{% extends 'recommender/base.html' %}
{% block nav-home %}<strong class="nav-active">Home</strong>{% endblock %}
{% block content %}
<h1>Welcome to MIT ClassFinder</h1>


<div class="wrapper">
<div id="three-column" class="container">
	<div id="tbox1">
		<div class="title hvr-grow">
			<a href="{% url 'recommender:recommendations' user.userprofile.major_1 %}">Recommendations</a>
		</div>
		<p>Find classes to take next semester.</p>
	</div>

	<div id="tbox2">
		<div class="title hvr-grow">
			<a href="{% url 'recommender:major' %}">Stats By Major</a>
		</div>
		<p>Discover the most popular classes taken by students in your major.</p>
	</div>

	<div id="tbox3">
		<div class="title hvr-grow">
			<a href="{% url 'recommender:class_info_initial' %}">Stats By Class</a>
		</div>
		<p>Search for MIT classes.</p>
	</div>
</div>
</div>

{% endblock %}