{% extends 'recommender/base.html' %}
{% block nav-profile %}<strong class="nav-active">Profile</strong>{% endblock %}

{% block content %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
	<h1>{{user}}'s Profile</h1>
	
	<form id="profile_form" role="form" action="" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <p>
		    <label for="id_classes">Classes Taken:</label>
		    <select id="id_classes" name="classes" class="chosen-select" multiple="true" data-placeholder="Enter a class...">
		    	<!-- Create dropdown of all MIT classes -->
		    	{% for class in mit_classes %}
		    		{% if class in classes_taken %}
		    			<!-- Prepopulate box with taken classes -->
		    			<option selected="selected" value="{{ class }}">{{ class }}</option>
		    		{% else %}
		    			<option value="{{ class }}">{{ class }}</option>
		    		{% endif %}
		    	{% endfor %}
			</select>
		</p>
		<input type="submit" value="Save"  />
	</form>

	<script type="text/javascript">
		$(function() {
		    $(".chosen-select").chosen();
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.js"></script>

{% endblock %}
