{% extends 'recommender/base.html' %}
{% block nav-subject %}<strong class="nav-active">Search For Class</strong>{% endblock %}

{% block content %}
<body>
	<form role="form" action="" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button class="inline_button" type="submit">Go</button>
	</form>

	{% if recs != None %}
		<h1>Your Recommendations</h1>
		<div id=recs_block>
			<table>
			{% for rec in recs %}
				<tr>
				<td><a href="{% url 'recommender:class_info' rec.0 %}">{{ rec.0 }} -  {{ rec.1 }}</a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	{% endif %}
</body>
{% endblock %}