{% extends 'recommender/base.html' %}
{% block nav-subject %}<strong class="nav-active">Search For Class</strong>{% endblock %}

{% block content %}
<!-- Modals: http://www.abidibo.net/blog/2014/05/26/how-implement-modal-popup-django-forms-bootstrap/ -->
{% load nvd3_tags %}
<head>
	{% if info != None %}
	    {% include_chart_jscss %}
	    {% load_chart charttype chartdata chartcontainer extra %}
	{% else %}
		<h1>Search for information about a class</h1>
	{% endif %}
</head>

<body>
	<form role="form" action="" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button class="inline_button" type="submit">Go</button>
	    <div class="clearfix"></div>
	</form>

	{% if info != None %}
		<h1>{{subject}}</h1>
		<div class = "class_info_container">
			<p><b>Title:</b> {{info.title}}</p>
			<p><b>Prerequisites:</b> {{info.prerequisites}}</p>
			<p><b>Units:</b> {{info.units}}</p>
			<p><b>Instructors:</b> {{info.instructors}}</p>
			<p><b>Description:</b> {{info.description}}</p>
			{% include_container chartcontainer 400 800 %}
		</div>
	{% endif %}
</body>
{% endblock %}